@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}
main .aside{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    width: 50%;
}
main .aside .text{
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
}
main .aside .text #logo{
    width: 20%;
}
main .aside .text #hi{
    width: 80%;
    margin-bottom: 3vh;
}
main .aside .inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main .aside .buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main .aside .buttons a{
    margin-left: 4vw;
}
input{
    width: 500px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    margin: 5px 0 5px 4vw;
}
input[type="submit"]{
    background-color: #2D2B7F;
    color: white;
    cursor: pointer;
    transition: .5s;
}
input[type="submit"]:hover{
    opacity: .9;
}
input:focus {
    border-left: 10px solid 201E77;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

main .other-side{
    width: 50%;
    height: 100vh;
    background-image: url(../images/Group\ 4.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}